html, body {
 margin: 0;
 padding: 0;
 border: none;
}

.container-div
{
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.greeting-info-div
{
    flex: 1;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px 0px 0px 0px;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 30px;*/


}
.logo-div
{
    display: flex;
    padding: 35px 0px 130px 60px;

}
.rubrad-logo
{
    width: 75px;
    height: 75px;
}
.logo-text
{
     color: lavender;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Montserrat, sans-serif;
}

.greeting-text-div
{
    padding: 0px 0px 0px 65px;

}
.greeting-header
{
    margin-bottom: 0px;
    font-size: 57px;
     max-width: 770px;
    color: lavender;
    font-family: Montserrat, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.greeting-paragraph
{
    font-size: 15px;
 color: rgba(88, 89, 89, 0.87);
    font-family: Montserrat, sans-serif;

}


.login-info-div
{

    padding: 0px 110px 0px 100px;
    background: whitesmoke;
    width: 465px;
    /*position: absolute;*/
    /*right: 5px;*/
    /*top: 0px;*/
    /*bottom: 0px;*/





}


.sign-up-div
{
    margin: 0px 0px 125px 0px;



}
.sign-up-form
{
    display: flex;
    align-items: center;
    margin: 38px 0px 0px 150px;
}

.sign-up-text
{
    font-size: 14px;
    font-weight: 400;
    color: rgba(88, 89, 89, 0.87);
    margin: 0px 15px 0px 10px;
    font-family: Montserrat, sans-serif;

}
.sign-up-button
{
    padding: 10px 18px 15px 18px;
    height: 38px;
    border-style: none;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 13px;
    background-image: linear-gradient(to right, #91EAE4 0%, #86A8E7 51%, #7F7FD5 100%);

}

.login-form
{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 50px;



}
.login-prompt-text
{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
color: rgba(88, 89, 89, 0.87);

}
.login-username
{
    height: 50px;
    font-family: Montserrat, sans-serif;
    padding: 3px 20px 3px 20px;
    font-size: 18px;
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
    border-style: solid;

}
.login-password
{
    height: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: rgba(88, 89, 89, 0.87);
    padding: 3px 20px 3px 20px;
    border-radius: 10px;
    border-style: solid;
    margin: 0px 0px 60px 0px;
}




.login-submit
{
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, #91EAE4 0%, #86A8E7 51%, #7F7FD5 100%);
}