html, body {
 margin: 0;
 padding: 0;
 border: none;
}

#confirmationMessage div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
#confirmationMessage {
    background: whitesmoke;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    padding: 10px 15px 10px 10px;
    border-radius: 50px;
    color: rgba(88, 89, 89, 0.87);
   position: absolute; /* This allows you to position the div anywhere on the page */
   top: 100px; /* This moves the div 50 pixels down from the top of its nearest positioned ancestor (or from the viewport if no ancestors are positioned) */
   right: 85dvh; /* This moves the div 10 pixels to the right from the right edge of its nearest positioned ancestor (or from the viewport if no ancestors are positioned) */
}
#confirmationMessage img {

    margin: 0px 5px 0px 0px;
    width: 25px;

    height: 25px;

}
#errorMessage div
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
#errorMessage
{
    background: whitesmoke;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    padding: 10px 15px 10px 10px;
    border-radius: 50px;
    color: rgba(88, 89, 89, 0.87);
   position: absolute; /* This allows you to position the div anywhere on the page */
   top: 100px; /* This moves the div 50 pixels down from the top of its nearest positioned ancestor (or from the viewport if no ancestors are positioned) */
   right: 90dvh;
}
#errorMessage img
{
    margin: 0px 5px 0px 0px;
    width: 25px;

    height: 25px;
}


.container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: whitesmoke;
    padding: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

}

.header-div
{
    position: absolute;
    display: flex;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}
.logo-div
{
    display: flex;

}
.rubrad-logo
{
    width: 75px;
    top: 5px;
    left: 0px;
    height: 75px;
}
.logo-text
{
     color: lavender;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Montserrat, sans-serif;
}

.center-header-text
{
    font-size: 30px;
     color: lavender;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Montserrat, sans-serif;

}
.header-image
{
    width: 20px;
    height: 20px;
}
.header-button
{
    margin: 0px 100px 0px 0px;
    border: none;
    font-family: Montserrat, sans-serif;
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;


}
.header-button:hover
{
    opacity: 0.5;
    border: whitesmoke;


}
.header-button:active
{
    opacity: 0.2;
}



.main-content-div
{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    width: 60dvh;
    border-radius: 30px;
    justify-content: center;
    padding: 10px 25px 10px 25px;
    height: 50dvh;

}
.login-text-icon-div
{
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 15px;
}

.login-details-icon
{
    width:40px;
    height:40px;
    padding: 0px 15px 10px 0px;
}
.login-details-text
{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: rgba(88, 89, 89, 0.87);
}
.info-entry-form
{
    display: flex;
    flex-direction: column;
}


.input-website
{
    height: 55px;
    font-family: Montserrat, sans-serif;
    padding: 3px 20px 3px 20px;
    font-size: 18px;
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    width: 510px;

}

.input-username
{
    height: 55px;
     width: 510px;
    font-family: Montserrat, sans-serif;
    padding: 3px 20px 3px 20px;
    font-size: 18px;
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}
.input-password
{
    height: 55px;
     width: 510px;
    font-family: Montserrat, sans-serif;
    padding: 3px 20px 3px 20px;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

.submit-cancel-buttons-div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.input-submit
{
    margin: 0px 10px 0px 0px;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    width: 100px;

    cursor: pointer;
    background-image: linear-gradient(to right, #91EAE4 0%, #86A8E7 51%, #7F7FD5 100%);

}
.cancel-link
{
      margin: 0px 10px 0px 0px;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    width: 100px;
    cursor: pointer;
    background-image: linear-gradient(to right, #91EAE4 0%, #86A8E7 51%, #7F7FD5 100%);


}