html, body {
 margin: 0;
 padding: 0;
 border: none;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.container-div
{
    display: grid;
    height: 100vh;
    margin: 100px 0px 0px 0px;
    grid-template-columns: 380px 380px 380px 380px;
    grid-gap: 50px;
    justify-items: center;
    justify-content: center;


}


.header-div
{
    position: absolute;
    display: flex;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}
.logo-div
{
    display: flex;

}
.rubrad-logo
{
    width: 75px;
    top: 5px;
    left: 0px;
    height: 75px;
}
.logo-text
{
     color: lavender;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Montserrat, sans-serif;
}

.center-header-text
{
    font-size: 30px;
     color: lavender;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Montserrat, sans-serif;

}
.header-image
{
    width: 20px;
    height: 20px;
}
.header-button
{
    margin: 0px 100px 0px 0px;
    border: none;
    font-family: Montserrat, sans-serif;
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;


}
.header-button:hover
{
    opacity: 0.5;
    border: whitesmoke;


}
.header-button:active
{
    opacity: 0.2;
}




.password-info-div
{
    background: whitesmoke;
    height: 250px;
    position: sticky;
    width: 380px;
    border-radius: 30px;
    padding: 0px 15px 0px 0px;



}
.password-website-header
{

    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: rgba(88, 89, 89, 0.87);
    font-size: 15px;
    margin: 20px 0px 0px 20px;

}



.password-username-header::-webkit-scrollbar
{
    display: none;
}
.password-username-header
{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(88, 89, 89, 0.87);
    font-size: 25px;
    margin: 35px 0px 0px 20px;
    overflow: auto;
    text-overflow: ellipsis;
}
.password-password-header
{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(88, 89, 89, 0.87);
    font-size: 25px;
    margin: 20px 0px 0px 20px;
}

.password-website-info
{

    font-size: 15px;
    font-weight: 500;

}
.password-username-info
{
    font-size: 20px;
    font-weight: 300;
    padding: 0px 0px 0px 10px;
}
.hide-text
{
    padding: 0px 0px 0px 12px;
}

.edit-redirect-button
{
    margin: 0px 10px 0px 0px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    width: 100px;
    position: relative;
    top: 40px;
    left: 165px;
    cursor: pointer;
    background-image: linear-gradient(to right, #91EAE4 0%, #86A8E7 51%, #7F7FD5 100%);

}

.delete-button
{
    margin: 0px 10px 0px 0px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    width: 100px;
    position: relative;
    top: 4px;
    left: 275px;
    cursor: pointer;
    background-image: linear-gradient(to right, #91EAE4 0%, #86A8E7 51%, #7F7FD5 100%);

}

.no-entries-header
{
    font-family: Montserrat, sans-serif;
    color: lavender;
    font-size: 35px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 700;
}