
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/editPage.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Red+Hat+Display:wght@400;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

 <div class = "banner-page">
        <div class = logo-div>

        <img class = "Rubrad-logo" src = "{% static 'password/RubradLogoCorrect.png' %}">
        <p class = "logo-text">Rubrad</p>

        </div>





        <div class = login-button-div>
            <form action = '/login' method = "GET">


                <input type = "submit" value = "Log In" class = "login-button">
            </form>
        </div>

        <div class = "home-button-div">
            <form action = "/" method = "GET" class = "sign-up-form">

                <input type = 'submit' value = "Home" class = "home-button">

            </form>


        </div>

    </div>



 <div class = "page-body">

        <h1>Edit username or password</h1>
    <form action="{% url 'editEntry' entry.id %}" method="POST" class="container">
        <div>
        {% csrf_token %}
        <p class = "website-text">Website: {{entry.url}}</p>
        <p class = "username-text">Username:</p>
        <input type="text" name="username" value="{{ entry.username }}">
        <p class = "password-text">Password:</p>
         <input type="password" id="password" name="password" value="{{entry.password}}">
            <button type="button" id="toggleButton">
                 <img class=""id="toggleImage" src="{% static 'password/openeye.png'%}" style="width: 20px; height: 20px;">
            </button>


        </div>

        <div class = "save-cancel-div">

            <div class = "buttons-div">
            <input type="submit" value="Save" class="button">
            </div>


            <div class = "buttons-div">
                <a href="{% url 'passwordVault' %}" class="button">Cancel</a>
            </div>



        </div>

    </form>

    </div>

<script>
    document.getElementById('toggleButton').addEventListener('click', function() {
 var passwordInput = document.getElementById('password');
 var toggleImage = document.getElementById('toggleImage');


 if (passwordInput.type === 'password') {
 passwordInput.type = 'text';
 toggleImage.src = "{% static 'password/slasheye.png' %}";
 } else {
 passwordInput.type = 'password';
 toggleImage.src = "{% static 'password/openeye.png' %}";
 }

});
</script>


</body>
</html>