<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<div>

<p>enter passwords?</p>
<form action="login/" method="GET">
    {% csrf_token %}

    <input type="submit" value="passwordsButton">
</form>



</div>

<div>

    <p>Password Generator page</p>

    <!-- Link to the Password Generator page -->
    <form action="generate_password/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Go to password generator">
    </form>

</div>

</body>
</html>
