<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Password Vault</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/passwordVault.css' %}">

</head>
<body>

<div>
    {% if adminUser %}
        <p>Hello {{ adminUser }}! These are your currently stored passwords.</p>
    {% else %}
    <form action="/login/" method="GET">
        <p>Information not provided.</p>
        <input type="submit" value="Return to Login Page">
    </form>
    {% endif %}

</div>
<div class="container-div">
 <div class="header-div">


    <div class="logo-div">

        <img src="{% static 'password/RubradLogoCorrect.png' %}" class="rubrad-logo">
        <h1 class="logo-text">Rubrad</h1>


    </div>

    <div class="center-header-text-div">
        <h1 class="center-header-text">Password Vault</h1>
    </div>

    <div style="display: flex">

    <img class="header-image" src="{% static '/password/user.svg' %}">
    <form action="/login/loginLanding" method="GET">
            <input type="submit" value="Back to Landing" class="header-button">
    </form>
    </div>

</div>





{% if entries %}

       {% for entry in entries %}



{# whenever we want to get a variable we saved inside the session#}
{# ( ie. request.session['edit'] = True )#}
{#we use request.session.variable ( ie. request.session.edit ) #}
{# insead of the variable name by itself. #}

        <div class="password-info-div">


               <form action="{% url 'editPage' entry.id %}" method="POST" class="passwords-info-form">
                   {% csrf_token %}
                   <h1 class="password-website-header"><span class="password-website-info">{{ entry.url }} </span></h1>
                   <h1 class="password-username-header">Username:<span class="password-username-info">{{ entry.username }} </span></h1>
                    <h1 class="password-password-header">Password: <span id="password{{ entry.id }}" class="hide-text">{{ entry.password }}</span></h1>


                   <input type="submit" value="Edit" class="edit-redirect-button">


               </form>

                    <button id="deleteButton{{ entry.id }}" class="delete-button" >Delete</button>

        </div>




       {% endfor %}

</div>
{% else %}
   <h1 class="no-entries-header">No entries found for this user.</h1>
{% endif %}



</body>
<script>
    window.onload = function() {
  var passwordElements = document.querySelectorAll('.hide-text');
  passwordElements.forEach(function(passwordElement) {
      var passwordText = passwordElement.innerText;
      var hiddenPassword = '';
      for (var i = 0; i < passwordText.length; i++) {
          hiddenPassword += '•';
      }
      passwordElement.innerText = hiddenPassword;
  });
};

$('.delete-button').click(function() {
 var entryId = $(this).attr('id').replace('deleteButton', '');
 deleteEntry(entryId);
});

function deleteEntry(entryId) {
 $.ajax({
 url: '/delete/' + entryId,
 type: 'DELETE',
 headers: {
   "X-CSRFToken": getCookie("csrftoken")
 },
 success: function(result) {
   $('#entry' + entryId).remove();
   location.reload();
 },
 error: function(error) {
   console.log(error);
 }
 });
}
function getCookie(name) {
 var cookieValue = null;
 if (document.cookie && document.cookie !== '') {
  var cookies = document.cookie.split(';');
  for (var i = 0; i < cookies.length; i++) {
    var cookie = jQuery.trim(cookies[i]);
    // Does this cookie string begin with the name we want?
    if (cookie.substring(0, name.length + 1) === (name + '=')) {
      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
      break;
    }
  }
 }
 return cookieValue;
}

</script>



</html>
