<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Password Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "PasswordGenerator.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/PasswordGenerator.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>

    <div class = "banner-page">
        <div class = logo-div>

        <img class = "Rubrad-logo" src = "{% static 'password/RubradLogoCorrect.png' %}">
        <p class = "logo-text">Rubrad</p>

        </div>



        <div class="sign-up-div">

            <form action="/signUp/" method="GET"  class="sign-up-form">


                <h1 class="sign-up-text">New to Rubrad? </h1>
                <input type="submit" name="signUp" id="signUp" value="Create an Account" class="sign-up-button">
            </form>
        </div>

        <div class = login-button-div>
            <form action = '/login' method = "GET">


                <input type = "submit" value = "Log In" class = "login-button">
            </form>
        </div>

        <div class = "home-button-div">
            <form action = "/" method = "GET" class = "sign-up-form">

                <input type = 'submit' value = "Home" class = "home-button">

            </form>


        </div>

    </div>


    <div class = "main-page">




    <form method="post" onsubmit="event.preventDefault(); generatePassword();">
        <label for="password-length">Password Length:</label>
        <input type="number" id="password-length" name="password-length" min="1" max="100" value="10"><br>

        <input type="checkbox" id="include-numbers" name="include-numbers" checked>
        <label for="include-numbers">Include Numbers</label><br>
        <input type="checkbox" id="include-lowercase" name="include-lowercase" checked>
        <label for="include-lowercase">Include Lowercase Characters</label><br>
        <input type="checkbox" id="include-uppercase" name="include-uppercase" checked>
        <label for="include-uppercase">Include Uppercase Characters</label><br>
        <input type="checkbox" id="include-symbols" name="include-symbols">
        <label for="include-symbols">Include Symbols</label><br>

        <input type="checkbox" id="no-duplicates" name="no-duplicates">
        <label for="no-duplicates">No Duplicate Characters</label><br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="20" value="1"><br>

        <button type="submit">Generate Password</button>
    </form>

    <div id="generated-passwords"></div>

    <script>
        function generatePassword() {
            const length = $('#password-length').val();
            const includeNumbers = $('#include-numbers').is(':checked');
            const includeLowercase = $('#include-lowercase').is(':checked');
            const includeUppercase = $('#include-uppercase').is(':checked');
            const includeSymbols = $('#include-symbols').is(':checked');
            const noDuplicates = $('#no-duplicates').is(':checked');
            const quantity = $('#quantity').val();
            $.ajax({
                url: '{% url "generate_password_ajax" %}',
                type: 'get',
                data: {
                    'length': length,
                    'include_numbers': includeNumbers,
                    'include_lowercase': includeLowercase,
                    'include_uppercase': includeUppercase,
                    'include_symbols': includeSymbols,
                    'no_duplicates': noDuplicates,
                    'quantity': quantity
                },
                success: function(response) {
                    $('#generated-passwords').empty();
                    response.passwords.forEach(function(password) {
                        $('#generated-passwords').append($('<p>').text(password));
                    });
                },
                error: function() {
                    alert();
                }
            });
        }
    </script>




    </div>


</body>
</html>
