<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <form method="post" onsubmit="event.preventDefault(); generatePassword();">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Generate Password</button>
    </form>

    <p id="generated-password"></p>

    <script>
        function generatePassword() {
            $.ajax({
                url: '{% url "generate_password_ajax" %}',
                type: 'get',
                success: function(response) {
                    $('#generated-password').text('Generated password: ' + response.password);
                },
                error: function() {
                    alert('Error generating password');
                }
            });
        }
    </script>
</body>
</html>
