<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div>
    <p>Hello {{ usernameGet }}! Please enter a website username and password. </p>
    <form id="userForm" method="POST">
        {% csrf_token %}
        <h1>Website: </h1>
        <input type="text" id="website" name="website">
        <h1>Username: </h1>
        <input type="text" id="username" name="username">
        <h1>Password: </h1>
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
    </form>
</div>

<div id="confirmationMessage" style="display:none;">
    <!-- Confirmation message will be displayed here -->
</div>

<script>
    $(document).ready(function() {
        $('#userForm').on('submit', function(e) {
            e.preventDefault();
            var formData = {
                'website': $('#website').val(),
                'username': $('#username').val(),
                'password': $('#password').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };
            $.ajax({
                type: 'POST',
                url: '/getData/',  // Adjust the URL as needed
                data: formData,
                success: function(response) {
                    $('#confirmationMessage').html(
                        '<p>Successfully saved Password!</p>' +
                        '<p>Website: ' + formData.website + '</p>' +
                        '<p>Username for Website: ' + formData.username + '</p>' +
                        '<p>Password for Website: ' + formData.password + '</p>'
                    );
                    $('#confirmationMessage').show();
                },
                error: function() {
                    alert('Error submitting form!');
                }
            });
        });
    });
</script>

</body>
</html>
