<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Vault</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div>
    <form action="/login/loginLanding" method="GET">
        <input type="submit" value="Back to Home <-">
    </form>

    {% if adminUser %}
        <p>Hello {{ adminUser }}! These are your currently stored passwords.</p>
    {% else %}
    <form action="/login/" method="GET">
        <p>Information not provided.</p>
        <input type="submit" value="Return to Login Page">
    </form>
    {% endif %}
</div>
{% if entries %}
   <ul>
       {% for entry in entries %}
           <li>




               {% if not request.session.edit %}
                 <p>ID: {{entry.id}}</p>
    <p>Website: {{ entry.url }}</p>
    <p>Username: {{ entry.username }}</p>
    <p>Password: {{ entry.password }}</p>
    <button onclick="toggleEditMode({{ entry.id }})">Edit</button>
    {% else %}
    <form action="{% url 'edit_entry' entry.id %}" method="POST">
     {% csrf_token %}
    <h1>Website: </h1>
        <input type="text" id="website" name="website">
        <h1>Username: </h1>
        <input type="text" id="username" name="username">
        <h1>Password: </h1>
        <input type="password" id="password" name="password">
     <input type="submit" value="Save">
    </form>
        {% endif %}
           </li>
       {% endfor %}
   </ul>
{% else %}
   <p>No entries found for this user.</p>
{% endif %}


<script>
                function toggleEditMode(id) {
                 $.ajax({
                 url: '{% url 'toggle_edit_mode' %}',
                 type: 'POST',
                 data: {
                   id: id,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
                 },
                 success: function(response) {
                     if (edit === true) {
         // Update the edit variable in your JavaScript code
                         edit = true;
                    }
                   location.reload();
                 },
                 error: function(response) {
                   alert('Failed to toggle edit mode.');
                 }
                 });
                }
</script>



</body>
</html>
