<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
       @keyframes popout {
          0% {
              transform: scale(0);
              opacity: 0;
          }
          50% {
              transform: scale(1.1);
          }
          100% {
              transform: scale(1);
              opacity: 1;
          }
       }

       .alert_box {
          animation: popout 0.5s ease-out;
       }
   </style>


</head>
<body>

<div>
    <p>Hello {{ usernameGet }}! Please enter a website username and password. </p>
    <form id="userForm" method="POST">
        {% csrf_token %}
        <h1>Website: </h1>
        <input type="text" id="website" name="website">
        <h1>Username: </h1>
        <input type="text" id="username" name="username">
        <h1>Password: </h1>
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
    </form>
</div>

<div id="confirmationMessage" style="display:none;">
    <!-- Confirmation message will be displayed here -->
</div>

<script>
    function customAlert(message) {
   // Create a new div element
        const alertBox = document.createElement('div');
        alertBox.className = 'alert_box';

   // Add the message to the alert box
   alertBox.textContent = message;

   // Add the alert box to the body of the document
   document.body.appendChild(alertBox);

   // Remove the alert box after 3 seconds
   setTimeout(function() {
       document.body.removeChild(alertBox);
   }, 3000);
}



    $(document).ready(function() {
        $('#userForm').on('submit', function(e) {
            e.preventDefault();
            var formData = {
                'website': $('#website').val(),
                'username': $('#username').val(),
                'password': $('#password').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };
            $.ajax({
                type: 'POST',
                url: '/passwordEntry/',  // Adjust the URL as needed
                data: formData,
                success: function(response) {


                    $('#confirmationMessage').html(
                        '<p>Successfully saved Password!</p>' +
                        '<p>Website: ' + formData.website + '</p>' +
                        '<p>Username for Website: ' + formData.username + '</p>' +
                        '<p>Password for Website: ' + formData.password + '</p>'
                    );
                    $('#confirmationMessage').show();
                },
                error: function(jqXHR) {
                    const response = JSON.parse(jqXHR.responseText);
                        if(response.message === 'Password already exists.'){
                            if(confirm('Password already exists. Do you want to add a duplicate?')){
                                {#Makes a new ajax call to addDuplicate so we can #}
                                $.ajax({
                                   type: 'POST',
                                    url: 'addDuplicate/',
                                    data: formData,
                                    success: function(response)
                                    {
                                        $('#confirmationMessage').html(
                                            '<p>Successfully saved Password!</p>' +
                                            '<p>Website: ' + formData.website + '</p>' +
                                            '<p>Username for Website: ' + formData.username + '</p>' +
                                            '<p>Password for Website: ' + formData.password + '</p>'
                                        );
                                        $('#confirmationMessage').show();

                                    },
                                    error: function(jqXHR)
                                    {
                                         alert('Error submitting form!');
                                    }

                                });
                            }}
                        else if(response.message === 'Empty Field!')
                        {
                           customAlert('Please Fill out all fields!');

                        }
                        else{
                            alert('Error submitting form!');

                        }
                }
            });
        });
    });
</script>

</body>
</html>
