<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

<p>Hello {{ usernameGet }}! Please enter a website username and password. </p>

<form action="getData/" method="POST">
    {% csrf_token %}


    <h1>website: </h1>
    <input type="text" id="website" name="website">
    <h1>username: </h1>
    <input type="text" id="username" name="username">
    <h1>password: </h1>
    <input type="password" id="password" name="password">

    <input type="submit" value="Submit">
</form>

</div>

</body>
</html>
